<?php

/**
 * @var \Redstage\Banner\Block\Display $block
 */

$banners = $block->getBanners();

?>

<div class="redstage-owl-banner owl-carousel owl-theme">
	<?php foreach ($banners as $banner): ?>
	<div>
		<a href="<?= $banner['url'] ? $banner['url'] : 'javascript:void(0)' ?>">
			<?= $this->_filterProvider->getPageFilter()->filter($banner->getContent()); ?> 
		</a>
	</div>
	<?php endforeach ?>  
</div>	

<script>
    require([
        'jquery',
        'owlcarousel'
        ], function () {
            'use strict';
            jQuery.noConflict();
            jQuery('.redstage-owl-banner').owlCarousel({	            
	            margin:0,
	            items : 1,
	            itemsDesktop : [1240,1],	            
	            navigation : true,
	            pagination : true
          	});
    	}
    );
</script>